@charset "UTF-8";

section#social{
    text-align: left;
}

section#social span#menu-burguer{
    display: inline-block;
    padding: 20px;
    cursor: pointer;
}

section#social span#menu-burguer:hover{
    color: white;
}

menu#itens{
    padding: 0;
    z-index: 2;
    position: relative;
    width: 130px;
}